<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-around">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "Logo PNG.png", alt: "Riverside Lisbon", width: 200 %>
    <% end %>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item active mx-2"><%= link_to "Services", services_path, class: "nav-link" %></li>
    <li class="nav-item mx-2"><%= link_to "About us", about_path, class: "nav-link" %></li>
    <li class="nav-item mx-2"><%= link_to "Gallery", gallery_path, class: "nav-link" %></li>
  </ul>
  <div><a class="orange-button">Sign in</a></div>
</div>

<div class="virtualsection">
  <h2><strong>Contacts</strong></h2>
</div>

<div class="contact-page">
  <div class="location-card d-flex justify-content-center">
    <div id='map' style='width: 500px; height: 400px;'></div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2xhcGJhdCIsImEiOiJjbGp6c20zMGcwMGxyM2VtbzlnbGdpa2Z2In0.jEuuZbUstVEZ5ijM8xRkcQ';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-9.097792, 38.770049], // Specify the longitude and latitude of the desired center point
          zoom: 12 // Specify the desired zoom level
        });

        map.addControl(new mapboxgl.NavigationControl());

        var marker = new mapboxgl.Marker()
          .setLngLat([-9.097792, 38.770049]) // Specify the longitude and latitude of the marker's location
          .addTo(map);
      });
    </script>
    <div class="info">
      <div class="contacts">
        <i class="fa-solid fa-clock mx-3 d-flex align-items-center fs-3" style="color: #004899;"></i>
        <div class="hours mt-3">
          <p>Open: 24/7</p>
          <p>Admin: Monday - Friday (8h - 17h)</p>
        </div>
      </div>
      <div class="contacts">
        <i class="fa-solid fa-location-dot mx-3 d-flex align-items-center fs-3" style="color: #004899;"></i>
        <div class="address mt-3">
         <p>Alameda dos Oceanos 11A, 1990-196 Parque das Nações, Lisboa</p>
        </div>
      </div>
      <br>
      <div class="contacts">
        <i class="fa-solid fa-phone mx-3 fs-3" style="color: #004899;"></i>
        <p>+351 910 767 271</p>
      </div>
      <br>
      <div class="contacts">
        <i class="fa-solid fa-envelope mx-3 fs-3" style="color: #004899;"></i>
        <p>lisbonriverside@gmail.com</p>
      </div>
    </div>
  </div>
</div>
