<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "Logo PNG.png", alt: "Riverside Lisbon", width: 200 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"><%= link_to "Services", services_path, style: "text-decoration: none; color:black font-family: 'Noto Sans', sans-serif; font-size: 20px;" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><%= link_to "About us", about_path, style: "text-decoration: none; color:black, font-family: 'Noto Sans', sans-serif; font-size: 20px;" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><%= link_to "Gallery", gallery_path, style: "text-decoration: none; color: font-family: 'Noto Sans', sans-serif; font-size: 20px;" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><%= link_to "Contacts", contacts_path, style: "text-decoration: none; color:black font-family: 'Noto Sans', sans-serif; font-size: 20px;" %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="banner-container">
  <div class="banner">
    <%= video_tag "riverside_video.mp4", :class => 'home_video', autoplay: :autoplay, loop: :loop, muted: :muted %>
    <div class="banner-content">
      <h1><strong>Your new workspace</strong></h1>
      <p>Discover a flexible space and a solution to move your business forward.</p>
      <button class="orange-button"><%= link_to "Get Started", services_path, style: "text-decoration: none; color: white;" %></button>
    </div>
  </div>
</div>

<div class="services mx-5">
  <div class="cardsbox mx-5">
    <div class="cards-container d-flex justify-content-center mx-5">

      <div class="plan ms-3 me-3">
        <div class="inner">
          <span class="pricing">
            <span>
              from €29 <small>/ month</small>
            </span>
          </span>
          <p class="title">Virtual Office</p>
          <ul class="features">
            <li>
              <span class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                </svg>
              </span>
              <span>Prestige company address</span>
            </li>
            <li>
              <span class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                </svg>
              </span>
              <span>Mail Reception</span>
            </li>
            <li>
              <span class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                </svg>
              </span>
              <span>Individual meeting rooms</span>
            </li>
            <li>
              <span class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                </svg>
              </span>
              <span>Legal & Fiscal Consulting</span>
            </li>
          </ul>
          <div class="action">
            <button class="plan-button">
              <%= link_to "See plans", virtualoffice_path, style: "text-decoration: none; color: white;" %>
            </button>
          </div>
        </div>
      </div>

    <div class="plan me-3 ms-3">
      <div class="inner">
        <span class="pricing">
          <span>
            from €19 <small>/ day</small>
          </span>
        </span>
        <p class="title">Private Desks</p>
        <ul class="features">
          <li>
            <span class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
              </svg>
            </span>
            <span>Individual working desk</span>
          </li>
          <li>
            <span class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
              </svg>
            </span>
            <span>High speed wi-fi</span>
          </li>
          <li>
            <span class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
              </svg>
            </span>
            <span>Individual meeting rooms</span>
          </li>
          <li>
            <span class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
              </svg>
            </span>
            <span>Privacy and security </span>
          </li>
        </ul>
        <div class="action">
            <button class="plan-button mt-4">
              <%= link_to "See plans", coworking_path, style: "text-decoration: none; color: white;" %>
            </button>
        </div>
      </div>
    </div>



      </div>
    </div>
  </div>
</div>
